[submodule "Third-party/sol2"]
	path = Third-party/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Third-party/physfs-cpp"]
	path = Third-party/physfs-cpp
	url = https://github.com/WinPooh32/physfs-cpp.git
[submodule "Third-party/physfs"]
	path = Third-party/physfs
	url = https://github.com/WinPooh32/physfs.git
[submodule "Third-party/SimpleJSON"]
	path = Third-party/SimpleJSON
	url = https://github.com/nbsdx/SimpleJSON.git
